/* ********************************************
/* This file contains all styles for about.html
/* ********************************************

/* --------------------------------------------- */
/* Color palette, font weights, and side margins */
/* --------------------------------------------- */

:root {
    --bg-color: #212121;
    --primary-color: #62FA88;
    --txt-clr-dk: #212121;
    --txt-clr-lt: #F5F5F5;
    --txt-sz-sm: 1.3rem;
    --txt-sz-md: 1.8rem;
    --txt-sz-lg: 3.7rem;
    --txt-wt-lt: 200;
    --txt-wt-bd: 500;
    --margin-sides: 8rem;
}

@media (max-width: 1490px) {
    :root {
        --margin-sides: 4rem;
    }
}

@media (max-width: 900px) {
    :root {
        --margin-sides: 2.5rem;
    }
}

@media (max-width: 590px) {
    :root {
        --txt-sz-sm: 1rem;
        --txt-sz-md: 1.3rem;
        --txt-sz-lg: 3.0rem;
    }
}

@media (max-width: 490px) {
    :root {
        --txt-sz-lg: 2.5rem;
    }
}

@media (max-width: 400px) {
    :root {
        --txt-sz-lg: 2.1rem;
    }
}


/* --------------------------- */
/* Styles for about me section
/* --------------------------- */

main {
    margin: 0 var(--margin-sides);
}

main > div {
    margin-bottom: 90px;
}

.about-me {
    margin-top: calc(125px + 2.8rem);
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.about-me-left {
    grid-column: 1 / 6;
}

.about-me-right {
    grid-column: 6 / -1;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 70%;
}

figcaption {
    font-size: var(--txt-sz-sm);
    font-weight: var(--txt-wt-lt);
    font-style: italic;
    margin-top: 20px;
}

.about-me-section-title {
    color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    font-size: var(--txt-sz-sm);
    align-items: center;
    white-space: nowrap;
    margin-bottom: 20px;

}

.about-me-section-title > div {
    height: 2px;
    width: 4rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    background: var(--primary-color);
}

.about-me-section-name {
    font-weight: var(--txt-wt-bd);
    font-size: var(--txt-sz-lg);
    margin-bottom: 20px;
}

.about-me-section-name > span {
    color: var(--primary-color);
}

.about-me-content {
    font-size: var(--txt-sz-sm);
    margin-bottom: 20px;
    line-height: 1.8;
}

.about-me-content a {
    color: var(--primary-color);
    text-decoration: none;
}

.about-me-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.about-me-skills p {
    font-size: var(--txt-sz-sm);
    font-weight: var(--txt-wt-bd);
}

.about-me-skill {
    display: flex;
}

.about-me-skill div {
    align-self: center;
    height: 10px;
    width: 10px;
    border-radius: 200px;
    margin-right: 8px;
    background: var(--primary-color);
}


/* ------------------------- */
/* Styles for mobile contact
/* ------------------------- */

@media (max-width: 1200px){
    .about-me-left {
        grid-column: 1 / -1;
    }

    .about-me-right {
        grid-column: 1 / -1;
        margin-top: 20px;
    }

}

@media (max-width: 768px){
    .about-me-skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px){
    .about-me {
        margin-top: calc(70px + 2.8rem);
    }

    img {
        width: 80%;
    }
}

@media (max-width: 450px){
    img {
        width: 90%;
    }
}

@media (max-width: 400px){
    img {
        width: 100%;
    }
}
