/* **********************************************
/* This file contains all styles for contact.html
/* **********************************************

/* --------------------------------------------- */
/* Color palette, font weights, and side margins */
/* --------------------------------------------- */

:root {
    --bg-color: #212121;
    --primary-color: #62FA88;
    --txt-clr-dk: #212121;
    --txt-clr-lt: #F5F5F5;
    --txt-sz-sm: 1.3rem;
    --txt-sz-md: 1.8rem;
    --txt-sz-lg: 3.7rem;
    --txt-wt-lt: 200;
    --txt-wt-bd: 500;
    --margin-sides: 8rem;
}

@media (max-width: 1490px) {
    :root {
        --margin-sides: 4rem;
    }
}

@media (max-width: 900px) {
    :root {
        --margin-sides: 2.5rem;
    }
}

@media (max-width: 590px) {
    :root {
        --txt-sz-sm: 1rem;
        --txt-sz-md: 1.3rem;
        --txt-sz-lg: 3.0rem;
    }
}

@media (max-width: 490px) {
    :root {
        --txt-sz-lg: 2.5rem;
    }
}

@media (max-width: 400px) {
    :root {
        --txt-sz-lg: 2.1rem;
    }
}


/* ---------------------------- */
/* Main styles for contact page
/* ---------------------------- */
main{
    margin: 0 var(--margin-sides);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}


/* ------------------------- */
/* Styles for contact header
/* ------------------------- */

.contact-header {
    margin-top: calc(125px + 2.8rem);
    grid-column: 3 / -1;
    font-size: var(--txt-sz-lg);
    font-weight: var(--txt-wt-bd);
    margin-bottom: 15px;
}

.contact-header  span {
    color: var(--primary-color);
} 

.contact-message {
    grid-column: 3 / -3;
    font-size: var(--txt-sz-sm);
    line-height: 2;
    margin-bottom: 15px;
}

.contact-message a {
    text-decoration: none;
    color: var(--primary-color);
}


/* ----------------------- */
/* Styles for contact form
/* ----------------------- */

.contact-form {
    display: flex;
    border-radius: 15px;
    padding: 20px 40px;
    background: var(--txt-clr-lt);
    color: var(--txt-clr-dk);
    font-size: 1.1rem;
    margin-top: 30px;
}

.form-col1 > div {
    background: transparent;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-col1 > div > div {
    position: relative;
    border: 2px solid #d1d1d1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 3px;
    width: 20vw;
}

.form-col1 > div > div > input {
    width: 100%;
    font-size: 1rem;
    background: transparent;
    border: none;
    margin: 0 5px;
}

.form-col1 > div > div > input:focus {
    outline:none;
}

.form-col2 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.form-col2 > div > textarea {
    padding: 10px;
    width: 20vw;
    font-size: 1rem;
    border: none;
    background: transparent;
    border: 2px solid #d1d1d1;
    border-radius: 5px;
    resize: none;
}

.form-col2 > div > textarea:focus {
    outline: none;
}

.form-col2 > button {
    background: var(--bg-color);
    border: none;
    color: var(--txt-clr-lt);
    padding: 13px 35px;
    font-size: var(--txt-sz-sm);
    font-weight: var(--txt-wt-bd);
    border-radius: 10px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
    margin-top: 15px;
}

.form-col2 > button:hover {
    background: #808080;
}

/* ------------------------- */
/* Styles for mobile contact
/* ------------------------- */

@media (max-width: 1000px){
    .contact-header{
        grid-column: 2/-1;
    }

    .contact-message{
        grid-column: 2/-2;
    }

    .contact-form {
        flex-direction: column;
        width: 50vw;
    }
    
    .form-col1 > div > div {
        width: 100%;
    }

    .form-col2 {
        margin-left: 0;
    }

    .form-col2 > div > textarea {
        width: 100%;
    }
}

@media (max-width: 600px){
    .contact-header{
        margin-top: calc(75px + 2.8rem);
    }

    .contact-form {
        width: 60vw;
    }
}

@media (max-width: 500px){
    .contact-form {
        width: 70vw;
    }
}

@media (max-width: 450px){
    .contact-form {
        width: 78vw;
    }
}
