/* ********************************************
/* This file contains all styles for index.html
/* ********************************************

/* --------------------------------------------- */
/* Color palette, font weights, and side margins */
/* --------------------------------------------- */

:root {
    --bg-color: #212121;
    --primary-color: #62FA88;
    --txt-clr-dk: #212121;
    --txt-clr-lt: #F5F5F5;
    --txt-sz-sm: 1.3rem;
    --txt-sz-md: 1.8rem;
    --txt-sz-lg: 3.7rem;
    --txt-wt-lt: 200;
    --txt-wt-bd: 500;
    --margin-sides: 8rem;
}

@media (max-width: 1490px) {
    :root {
        --margin-sides: 4rem;
    }
}

@media (max-width: 900px) {
    :root {
        --margin-sides: 2.5rem;
    }
}

@media (max-width: 590px) {
    :root {
        --txt-sz-sm: 1rem;
        --txt-sz-md: 1.3rem;
        --txt-sz-lg: 3.0rem;
    }
}

@media (max-width: 490px) {
    :root {
        --txt-sz-lg: 2.5rem;
    }
}

@media (max-width: 400px) {
    :root {
        --txt-sz-lg: 2.1rem;
    }
}


/* ------------------------------ */
/* Common styles for hero section
/* ------------------------------ */

main {
    margin: 0 var(--margin-sides);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* ------------------------ */
/* Styling for hero content
/* ------------------------ */

main > article {
    grid-column: 1 / 5;
    margin-top: calc(165px + 2.8rem); 
}

main > article > h4 {
    opacity: 0;
    color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 40px;
}

main > article > h4 > div {
    height: 2px;
    width: 4rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    background: var(--primary-color);
}

main > article > h4 > p {
    font-weight: var(--txt-wt-bd);
    font-size: var(--txt-sz-sm);
}

main > article > section {
    opacity: 0;
    font-size: var(--txt-sz-lg);
    font-weight: var(--txt-wt-bd);
    margin-bottom: 60px;
}

#hero-txt {
    color: var(--primary-color);
}

#hero-txt > span {
    color: var(--txt-clr-lt);
}

.hero-cursor {
    animation: blink 1.0s infinite linear;
}

@keyframes blink {
    0%,20%,80%,100% {
        opacity: 1;
    }

    25%,75% {
        opacity: 0;
    }
}

.cursor-gone {
    opacity: 0;
}

.hero-cta {
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-cta > a > button {
    font-weight: var(--txt-wt-bd);
    font-size: var(--txt-sz-md);
    margin-right: 2.2em; 
    padding:0.6rem 1.5rem;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
}

.hero-btn-bio {
    background: var(--primary-color);
    color: var(--txt-clr-dk);
}

.hero-btn-bio:hover {
    cursor: pointer;
    box-shadow: 0 5px 25px rgba(98, 250, 136, 0.6);
}

.hero-btn-projects {
    background: transparent;
    color: var(--primary-color);
}

.hero-btn-projects:hover {
    background: var(--primary-color);
    color: var(--txt-clr-dk); 
    cursor: pointer;
}

@media (max-width: 1840px) {
    main > article {
        grid-column: 1 / 6;
    }
}

@media (max-width: 1400px) {
    main > article {
        grid-column: 1 / 7;
    }
}

@media (max-width: 1200px) {
    main > article {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main > article > section {
        text-align: center;
    }

    .hero-cta {
        width: 100%;
        justify-content: space-evenly;
    }

    .hero-cta > a > button {
        margin-right: 0;
    }
}

@media (max-width: 590px) {
    main > article {
        margin-top: calc(115px + 2.8rem); 
    }

    .hero-cta > a > button {
        padding: 0.5rem 1.0rem;
        border-radius: 12px;
    }
}

@media (max-width: 500px) {
    main > article {
        margin-top: calc(70px + 2.8rem);
    }

    main > article > h4 {
        margin-bottom: 25px;
    }
    
    main > article > section {
        margin-bottom: 35px;
    }
}

@media (max-width: 400px) {
    .hero-cta {
        flex-direction: column;
    }

    .hero-cta > a > button {
        margin-bottom: 30px;
    }
}


/* -------------------- */
/* Styling for hero svg
/* -------------------- */

main > svg {
    width: 100%;
    opacity: 0;
    margin-top: calc(135px + 2.8rem);
    grid-column: -1 / -8;
}

@media (max-width: 1650px) {
    main > svg {
        width: 90%;
        margin-left: 50px;
    }
}

@media (max-width: 1410px) {
    main > svg {
        width: 100%;
        margin-left: 0;
        grid-column: -1 / -7;
    }
}

@media (max-width: 1200px) {
    main > svg {
        grid-column: 1 / -1;
        margin-top: calc(70px + 2.8rem);
    }
}

@media (max-width: 850px) {
    main > svg {
        margin-top: calc(50px + 2.8rem);
    }
}

@media (max-width: 500px) {
    main > svg {
        height: calc((100vw - 5rem) * 0.75);
        margin-top: calc(30px + 2.8rem);
    }
}

@media (max-width: 400px) {
    main > svg {
        margin-top: 1.8rem;
    }
}


/* ------------------------- */
/* Styling for intro content
/* ------------------------- */

.website-intro {
    margin: 0 var(--margin-sides);
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.website-intro > h4 {
    color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 40px;
}

.website-intro > h4 > div {
    height: 2px;
    width: 4rem;
    border-radius: 10px;
    background: var(--primary-color);
}

.website-intro > h4 > p {
    font-weight: var(--txt-wt-bd);
    margin: 0 1.5rem;
    font-size: var(--txt-sz-sm);
}

.website-intro > p {
    font-size: var(--txt-sz-md);
    line-height: 2.0;
}

.website-intro > p > span {
    color: var(--primary-color);
}

.website-intro > p > a {
    color: var(--primary-color);
    text-decoration: none;
}

@media (max-width: 1200px) {
    .website-intro {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1100px) {
    .website-intro {
        margin-top: 100px;
    }
}
