/* ***********************************************************************
/* This file contains styles for registered reusable components as well as 
/* styling that carries across all pages of the website
/* ***********************************************************************

/* --------------------------------------------- */
/* Color palette, font weights, and side margins */
/* --------------------------------------------- */

:root {
    --bg-color: #212121;
    --primary-color: #62FA88;
    --txt-clr-dk: #212121;
    --txt-clr-lt: #F5F5F5;
    --txt-sz-sm: 1.3rem;
    --txt-wt-lt: 200;
    --txt-wt-bd: 500;
    --margin-sides: 8rem;
}

@media (max-width: 1490px) {
    :root {
        --margin-sides: 4rem;
    }
}

@media (max-width: 900px) {
    :root {
        --margin-sides: 2.5rem;
    }
}

/* ---------------------------- */
/* Basic settings for all pages */
/* ---------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    overflow-x: hidden;
}

body {
    color: var(--txt-clr-lt);
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

body.lock-scroll {
    height: 100vh;
    overflow-y: hidden;
}


/* --------------------------- */
/* Styles for header component */
/* --------------------------- */

header {
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 10000;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*margin: 0 var(--margin-sides)*/;
    padding-left: var(--margin-sides);
    padding-right: var(--margin-sides);
    padding-bottom: calc(1.4rem + 54px);
    padding-top: 1.4rem;
    background: var(--bg-color);
}

header > a {
    grid-column: 1 / 3; 
    font-size: var(--txt-sz-sm);
    font-weight: var(--txt-wt-bd);
    text-decoration: none;
    color: var(--txt-clr-lt);
}

header > a > span {
    color: var(--primary-color);
}

header > section {
    grid-column: 3 / 5;
    display: flex;
}

header > section > div {
    display: flex;
    margin-right: 2.5rem;
    justify-content: center;
    align-items: center;
}

header > section > div > a {
    margin-left: 0.5rem;
    color: var(--txt-clr-lt);
    font-size: var(--txt-sz-sm);
    font-weight: var(--txt-wt-lt);
    text-decoration: none;
}

header > section > div > a:hover {
    color: var(--primary-color);
}

header > nav {
    grid-column: -1 / -6;
    justify-content: end;
    align-items: center;
    display: flex;
}

header > nav > a {
    margin-left: 5rem;
    color: var(--txt-clr-lt);
    font-size: var(--txt-sz-sm);
    font-weight: var(--txt-wt-lt);
    text-decoration: none;
}

header > nav > a:hover {
    color: var(--primary-color);
}

header > nav > a > div {
    padding: 0.5rem 1.0rem;
    border: 3px solid var(--primary-color);
    border-radius: 12px;
    color: var(--primary-color);
    font-weight: var(--txt-wt-bd);
}

header > nav > a > div:hover {
    color: var(--txt-clr-dk);
    background: var(--primary-color);
}

.burger {
    cursor: pointer;
    display: none;
    height: 35px;
    width: 35px;
}

.burger > div {
    width: 25px;
    height: 3px;
    border-radius: 100px;
    background: var(--primary-color);
}

.burger > div::before, .burger > div::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 100px;
    background: var(--primary-color);
    transition: all ease-out 300ms;
}

.burger > div::before {
    transform: translateY(-8px);
}

.burger > div::after {
    transform: translateY(8px);
}


@media (max-width: 1780px) {
    header > nav > a {
        margin-left: 4rem;
    }
}   

@media (max-width: 1640px) {
    header > nav > a {
        margin-left: 3rem;
    }
}   

@media (max-width: 1490px) {
    header > nav {
        grid-column: -1 / -7;
    }
}   

@media (max-width: 1380px) {
    header > section {
        margin-left: 2rem;
    }   

    header > section > div {
        margin-right: 1.5rem;
    }
}

@media (max-width: 1200px) {
    header > section {
        display: none;
    }

    header > nav {
        grid-column: -1 / -9
    }
}

/* mobile view for header & navbar */
@media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }

    header {
        padding-bottom: calc(1.4rem + 34px);
    }

    header > nav {
        z-index: 10000;
        background: var(--bg-color);
        flex-direction: column;
        grid-column: 1 / -1;
        grid-row: 2;
        height: calc(100vh - 50px);
        width: 100vw;
        padding-bottom: 150px;
        justify-content: space-evenly;
        transform: translateX(150%);
        transition: all ease-out 300ms;
    }

    header > nav > a {
        margin: 0;
        opacity: 1;
    }

    .nav-active {
        transform: translateX(-2.5rem);
    }

    .burger {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 1;
        grid-column: -2;
    }

    .burger-open div::before {
       transform: translateY(0); 
    }
        
    .burger-open div::after {
       transform: translateY(0); 
    }
}


@media (max-width: 500px) {
    .burger {
        grid-column: -4;
    }
}

/* --------------------------- */
/* Styles for footer component */
/* --------------------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px var(--margin-sides);
    font-size: var(--txt-sz-sm);
    font-weight: var(--txt-wt-lt);
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
}

