/* ********************************************
/* This file contains all styles for work.html
/* ********************************************

/* --------------------------------------------- */
/* Color palette, font weights, and side margins */
/* --------------------------------------------- */

:root {
    --bg-color: #212121;
    --primary-color: #62FA88;
    --txt-clr-dk: #212121;
    --txt-clr-lt: #F5F5F5;
    --txt-sz-sm: 1.3rem;
    --txt-sz-md: 1.8rem;
    --txt-sz-lg: 3.7rem;
    --txt-wt-lt: 200;
    --txt-wt-bd: 500;
    --margin-sides: 8rem;
}

@media (max-width: 1490px) {
    :root {
        --margin-sides: 4rem;
    }
}

@media (max-width: 900px) {
    :root {
        --margin-sides: 2.5rem;
    }
}

@media (max-width: 590px) {
    :root {
        --txt-sz-sm: 1rem;
        --txt-sz-md: 1.3rem;
        --txt-sz-lg: 3.0rem;
    }
}

@media (max-width: 490px) {
    :root {
        --txt-sz-lg: 2.5rem;
    }
}

@media (max-width: 400px) {
    :root {
        --txt-sz-lg: 2.1rem;
    }
}


/* -------------------------- */
/* Main styling for work page */
/* -------------------------- */
main {
    margin: 0 var(--margin-sides);
    margin-top: calc(125px + 2.8rem);
}

.work-item {
    margin-bottom: 100px;
}

.work-item-title {
    color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    font-size: var(--txt-sz-sm);
    align-items: center;
    white-space: nowrap;
    margin-bottom: 20px;

}

.work-item-title > div {
    height: 2px;
    width: 4rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    background: var(--primary-color);
}

.work-item-name {
    font-weight: var(--txt-wt-bd);
    font-size: var(--txt-sz-lg);
    margin-bottom: 20px;
}

.work-item-name > span {
    color: var(--primary-color);
}

.work-item-content {
    font-size: var(--txt-sz-sm);
    margin-bottom: 20px;
    line-height: 1.8;
}

.work-item-content a {
    color: var(--primary-color);
    text-decoration: none;
}

button {
    font-weight: var(--txt-wt-bd);
    font-size: var(--txt-sz-md);
    margin-right: 2.2em;
    padding:0.6rem 1.5rem;
    border-radius: 15px;
    border: 3px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--txt-clr-dk);
}

button:hover {
    cursor: pointer;
    box-shadow: 0 5px 25px rgba(98, 250, 136, 0.6);
}


/* ---------------------------- */
/* Mobile styling for work page */
/* ---------------------------- */
@media (max-width: 590px) {
    main {
        margin-top: calc(115px + 2.8rem);
    }
}

@media (max-width: 500px) {
    main {
        margin-top: calc(70px + 2.8rem);
    }
}
