/* ********************************************
/* This file contains all styles for work.html
/* ********************************************

/* --------------------------------------------- */
/* Color palette, font weights, and side margins */
/* --------------------------------------------- */

:root {
    --bg-color: #212121;
    --primary-color: #62FA88;
    --txt-clr-dk: #212121;
    --txt-clr-lt: #F5F5F5;
    --txt-sz-sm: 1.3rem;
    --txt-sz-md: 1.8rem;
    --txt-sz-lg: 3.7rem;
    --txt-wt-lt: 200; --txt-wt-bd: 500;
    --margin-sides: 8rem;
}

@media (max-width: 1490px) {
    :root {
        --margin-sides: 4rem;
    }
}

@media (max-width: 900px) {
    :root {
        --margin-sides: 2.5rem;
    }
}

@media (max-width: 590px) {
    :root {
        --txt-sz-sm: 1rem;
        --txt-sz-md: 1.3rem;
        --txt-sz-lg: 3.0rem;
    }
}

@media (max-width: 490px) {
    :root {
        --txt-sz-lg: 2.5rem;
    }
}

@media (max-width: 400px) {
    :root {
        --txt-sz-lg: 2.1rem;
    }
}


/* -------------------------- */
/* Main styling for work page */
/* -------------------------- */
main {
    margin: 0 var(--margin-sides);
    margin-top: calc(125px + 2.8rem);
    margin-left: 20%;
    margin-right: 20%;
    font-size: var(--txt-sz-sm);
}

main > div {
    margin-bottom: 60px;
}

h1 {
    font-weight: var(--txt-wt-bd);
    font-size: var(--txt-sz-lg);
    margin-bottom: 20px;
}

h1 > span {
    color: var(--primary-color);
}

h2 {
    font-weight: var(--txt-wt-bd);
    font-size: var(--txt-sz-md);
    margin-bottom: 5px;
}

.subtopic {
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 10px;
}

.code-block {
    margin: 20px 0;
    overflow-x: auto;
    overflow-y: hidden;
	white-space: nowrap;
}

p {
    margin-bottom: 10px;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}


/* ---------------------------- */
/* Mobile styling for work page */
/* ---------------------------- */
@media (max-width: 1200px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 590px) {
    main {
        margin-top: calc(115px + 2.8rem);
    }
}

@media (max-width: 500px) {
    main {
        margin-top: calc(70px + 2.8rem);
    }
}

/*---------------------------------------------------*/
/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */
/*---------------------------------------------------*/

pre .str, code .str { color: #b8bb26; } /* string  - green */
pre .kwd, code .kwd { color: #b16286; } /* keyword - dark pink */
pre .com, code .com { color: #a89984; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #83a598; } /* type - light blue */
pre .lit, code .lit { color: #458588; } /* literal - blue */
pre .pun, code .pun { color: #ebdbb2; } /* punctuation - white */
pre .pln, code .pln { color: #ebdbb2; } /* plaintext - white */
pre .tag, code .tag { color: #83a598; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #98971a; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #b8bb26; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #458588; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #161616;
	border-radius: 8px;
    padding: 3px 8px;
}

pre.prettyprint {
	width: 95%;
    overflow:auto;
	margin: 1em auto;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
